.ipynb_checkpoints
__pycache__
.Rhistory
.RDataTmp

**/normalized_variant_share_by_date_and_state.csv
**/df_variant_share_by_fips.csv
**/COVID_Variants_Normalized_Share_All_Dates_FIPS.csv
**/df_ffill_bfill_COVID_Variants_Normalized_Share_All_Dates_FIPS.csv

**/augmented_us-counties_latest.csv
**/augmented_us-counties-states_latest.csv
**/processed_us-counties_latest_minus7.csv
**/us-counties_latest.csv
**/14_Day_Table.csv
**/dataT.csv
**/act_dataF.csv
*.rds

individual_county_backtest_state_forests_windowsize=2/
