.ipynb_checkpoints
__pycache__
.Rhistory
.RDataTmp
**/augmented_us-counties_latest.csv
**/augmented_us-counties-states_latest.csv
**/processed_us-counties_latest_minus7.csv
**/us-counties_latest.csv
**/14_Day_Table.csv
**/dataT.csv
**/act_dataF.csv
*.rds
